.banner {
    background: #F1F3F4;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.border-5 {
    border-width: 5px !important;
}

.navbar-nav > li {
    padding-left: 5px;
    padding-right: 5px;
}

.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.title-tc {
    color: #e4645d;
}

.title-en {
    color: #01a689;
}

.padding-0 {
    padding: 0;
}