.banner {
    background: #F1F3F4;
}

.jumbotron {
    height: 65vh;
    position: relative;
    text-align: center;
    background-size: cover;
    color: white;
}

.content {
    position: relative;
    top: 170px;
}

.banner-1 {
    background-image: url('../img/slide1.jpg');
}

.banner-2 {
    background-image: url('../img/slide2.jpg');
}

.banner-3 {
    background-image: url('../img/slide3.jpg');
}

.banner-4 {
    background-image: url('../img/slide4.jpg');
}

.logo {
    max-width: 140px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Segoe UI", "微軟正黑體", sans-serif !important;
}

.navbar-nav>li {
    padding-left: 3px;
    padding-right: 3px;
}

.navbar-nav li a {
    border-style: solid;
    border-color: #76777B;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 5px;
}

.title-tc,

.title-en {
    color: white;
}

.bio-name {
    color: #E1261C;
}

.bio-title {
    /* color: #118091; */
    color: #76777B;
}

.btn-lang:hover {
    background-color: #E1261C;
    border-color: #E1261C;
}

.footer,

.top-menu {
    font-size: 0.8rem;
}

.jumbotron h3:first-child::after {
    content: " 承先啟後  穩步將來";
    font-weight: 900;
}

.jumbotron h3:nth-child(2)::after {
    content: "Inheriting the Past     Charting the Future";
    font-weight: 500;
    font-size: 55px;
}

.nav-menu {
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    justify-content: space-between;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: -1px;
    margin-left: -15px;
}

.dropdown-item {
    border-style: none;
    border-width: 0px !important;
}

#m4-4 {
    white-space: normal;
}

.main-menu li a:hover {
    text-decoration: underline;
    color: #E1261C;
}

.main-menu li a:active {
    background-color: #E8E4E4 !important;
    color: white !important;
}

/* .main-menu li:nth-child(1) a:hover {
    color: #dc3545 !important;
}

.main-menu li:nth-child(2) a:hover {
    color: #FFC107 !important;
}

.main-menu li:nth-child(3) a:hover {
    color: #28A745 !important;
}

.main-menu li:nth-child(4) a:hover {
    color: #17A2B8 !important;
}

.main-menu li:nth-child(5) a:hover {
    color: #007BFF!important;
}

.main-menu li:nth-child(6) a:hover {
    color: black !important;
} */
.gallery-row {
    margin: 15px;
}

.page-title {
    /* font-size: 2.5rem; */
    font-weight: 500;
}

#page-category {
    text-transform: uppercase;
}

/* gallery */
.modal.dialog {
    max-width: 20000px;
    max-height: 100vh !important;
}

.carousel-item {
    max-height: 100vh !important;
    width: 100vw !important;
}

/* milstone timeline */
.main-timeline {
    overflow: hidden;
    position: relative;
}

.main-timeline:before {
    content: "";
    width: 5px;
    height: 90%;
    background: #333;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.main-timeline .timeline-content:before,

.main-timeline .timeline:before {
    top: 50%;
    transform: translateY(-50%);
    content: "";
}

.main-timeline .timeline {
    width: 50%;
    padding-left: 100px;
    float: right;
    position: relative;
}

.main-timeline .timeline:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #333;
    position: absolute;
    left: -10px;
}

.main-timeline .timeline-content {
    display: block;
    padding-left: 150px;
    position: relative;
}

.main-timeline .timeline-content:before {
    width: 90px;
    height: 10px;
    border-top: 7px dotted #333;
    position: absolute;
    left: -92px;
}

.main-timeline .year {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 100px;
    border-radius: 10px;
    border: 10px solid #8c7511;

    /* #2E425A;   #f54957; */
    font-size: 30px;
    color: #8c7511;

    /* #2E425A;  #f54957; */
    text-align: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
}

.main-timeline .year:before {
    /* content: ""; */
    border-left: 20px solid #f54957;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -13px;
    right: 0;
    transform: rotate(45deg);
}

.main-timeline .title {
    font-size: 24px;
    font-weight: 600;
    color: #2E425A;

    /* #f54957; */
    text-transform: uppercase;
    margin: 0 0 5px;
}

.main-timeline .description {
    font-size: 1.2rem;
    font-weight: 300;
    color: #6f6f6f;
    margin: 0 0 5px;
}

.main-timeline .timeline:nth-child(2n) {
    padding: 0 100px 0 0;
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before,

.main-timeline .timeline:nth-child(2n) .year,

.main-timeline .timeline:nth-child(2n):before {
    left: auto;
    right: -10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 0 150px 0 0;
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before {
    right: -92px;
}

.main-timeline .timeline:nth-child(2n) .year {
    right: 0;
}

.main-timeline .timeline:nth-child(2n) .year:before {
    right: auto;
    left: 0;
    border-left: none;
    border-right: 20px solid;
    transform: rotate(-45deg);
}

.main-timeline .timeline:nth-child(2) {
    margin-top: 110px;
}

.main-timeline .timeline:nth-child(odd) {
    margin: -110px 0 0;
}

.main-timeline .timeline:nth-child(even) {
    margin-bottom: 80px;
}

.main-timeline .timeline:first-child,

.main-timeline .timeline:last-child:nth-child(even) {
    margin: 0;
}

.main-timeline .timeline:nth-child(2n) .year {
    border-color: #b99c16;
    color: #b99c16;

    /* #1ebad0; */
}

.main-timeline .timeline:nth-child(2) .year:before {
    border-right-color: #1ebad0;
}

.main-timeline .timeline:nth-child(2n) .title {
    color: #1ebad0;
}

.main-timeline .timeline:nth-child(3n) .year {
    border-color: #577da8;

    /* #1ebad0; */
    color: #577da8;

    /* #1ebad0; */
}

.main-timeline .timeline:nth-child(3) .year:before {
    border-left-color: #7cba01;
}

.main-timeline .timeline:nth-child(3n) .title {
    color: #7cba01;
}

.main-timeline .timeline:nth-child(4n) .year {
    border-color: #446284;

    /* #1ebad0; */
    color: #446284;

    /* #1ebad0; */
}

.main-timeline .timeline:nth-child(4) .year:before {
    border-right-color: #f8781f;
}

.main-timeline .timeline:nth-child(4n) .title {
    color: #f8781f;
}

@media only screen and (max-width:1200px) {
    .main-timeline .year {
        top: 50%;
        transform: translateY(-50%);
    }
}

@media only screen and (max-width:990px) {
    .main-timeline .timeline {
        padding-left: 75px;
    }

    .main-timeline .timeline:nth-child(2n) {
        padding: 0 75px 0 0;
    }

    .main-timeline .timeline-content {
        padding-left: 130px;
    }

    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 0 130px 0 0;
    }

    .main-timeline .timeline-content:before {
        width: 68px;
        left: -68px;
    }

    .main-timeline .timeline:nth-child(2n) .timeline-content:before {
        right: -68px;
    }
}

@media only screen and (max-width:767px) {
    .main-timeline {
        overflow: visible;
    }

    .main-timeline:before {
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(0);
    }

    .main-timeline .timeline:before,
    
    .main-timeline .timeline:nth-child(2n):before {
        top: 60px;
        left: -9px;
        transform: translateX(0);
    }

    .main-timeline .timeline,
    
    .main-timeline .timeline:nth-child(even),
    
    .main-timeline .timeline:nth-child(odd) {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
        margin: 0 0 10px;
    }

    .main-timeline .timeline-content,
    
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 0;
    }

    .main-timeline .timeline-content:before,
    
    .main-timeline .timeline:nth-child(2n) .timeline-content:before {
        display: none;
    }

    .main-timeline .timeline:nth-child(2n) .year,
    
    .main-timeline .year {
        position: relative;
        transform: translateY(0);
    }

    .main-timeline .timeline:nth-child(2n) .year:before,
    
    .main-timeline .year:before {
        border: none;
        border-right: 20px solid #f54957;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        top: 50%;
        left: -23px;
        bottom: auto;
        right: auto;
        transform: rotate(0);
    }

    .main-timeline .timeline:nth-child(2n) .year:before {
        border-right-color: #1ebad0;
    }

    .main-timeline .timeline:nth-child(3n) .year:before {
        border-right-color: #7cba01;
    }

    .main-timeline .timeline:nth-child(4n) .year:before {
        border-right-color: #f8781f;
    }

    .main-timeline .inner-content {
        padding: 10px;
    }
}

/* end of milestone timeline */
/* milestone card */
.card-box {
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
    min-height: 320px;
    position: relative;
}

.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}

.card-box .inner {
    padding: 5px 10px 0 10px;
}

.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}

.card-box p {
    font-size: 15px;
}

.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 20px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.1);
}

.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}

.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}

.bg-blue {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-orange {
    background-color: #f39c12 !important;
}

.bg-red {
    background-color: #d9534f !important;
}

.card-number,

.card-number-8,

.card-number-16 {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 20px;
    z-index: 0;
}

.card-number,

#card-title-2,

#card-title-3 {
    font-size: 3.2rem;
}

.card-content {
    font-size: 2.5rem;
}

.card-content-8 {
    font-size: 1.5rem;
}

.card-number-8 {
    font-size: 1.9rem;
}

.card-content-13 {
    font-size: 1.8rem;
}

.card-content-16 {
    font-size: 1.5rem;
}

.card-number-16 {
    font-size: 1.9rem;
}

/* end of milestone card */
/* messages page */
.bio-image {
    border-radius: 50%;
    border-color: #fff;
    border-width: 10px;
    border-style: solid;
    margin-bottom: -100px;
    z-index: 1;
}

.messages-content {
    padding-top: 120px;
    padding-bottom: 50px;
    border-radius: 10px;
}

/* back to top button */
#back-button {
    display: inline-block;
    color: #76777B;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    cursor: pointer;
}

#back-button:hover {
    cursor: pointer;
    color: #E1261C;
}

#back-button:active {
    color: #888888;
}

#back-button.show {
    opacity: 1;
    visibility: visible;
}

.breadcrumb-container {
    background-color: #76777B;
}

.breadcrumb-container ol {
    background-color: #76777B !important;
}

.breadcrumb-container ol li {
    color: white !important;
}

.breadcrumb-container ol li a {
    color: white !important;
    text-decoration: underline;
}

.breadcrumb>li+li:before {
    color: #fff !important;
}

header {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.dropdown-item {
    flex-direction: column;
    align-items: end;
    background-color: white;
}

/* Styles for the mobile version */
@media (min-width: 500px) {
    #back-button {
        margin: 30px;
        max-width: 30px;
    }
}

@media only screen and (max-width:767px) {
    footer {
        font-size: 0.7rem;
    }

    .logo {
        max-width: 80px;
    }

    .page-title {
        font-size: 2.5rem;
        text-align: left;
    }

    #page-category {
        font-size: 1.3rem;
        text-align: left;
    }

    .dropdown-item {
        word-wrap: break-word;
    }

    .navbar-nav li a {
        border-bottom-width: 1px;
        margin: 0px 20px;
    }

    .title-tc {
        font-size: 3rem;
    }

    .title-en {
        font-size: 2rem;
    }

    header {
        height: 100px;
    }

    .content {
        top: 100px;
    }

    .jumbotron h3 {
        text-align: left;
    }

    .jumbotron h3:first-child::after {
        content: "承先啟後 穩步將來";
        font-size: 1.2rem;
    }

    .jumbotron h3:nth-child(2)::after {
        content: "Inheriting the Past, Charting the Future.";
        font-size: 1.2rem;
    }

    .jumbotron {
        height: 60vh;
        padding: 5px;
    }
}