
body {
    overflow-x: hidden !important;
}


.banner {
   
    max-height: 530px;
    overflow:hidden;
    position:relative;
}

.banner img{
    max-height:auto;
}


.content {
    position: relative; 
    top: 170px;
}


.banner-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('../img/slide1.jpg');

    /* background-image: url('../img/slide1.jpg'); */
}

.banner-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('../img/slide2.jpg');
}

.banner-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('../img/slide3.jpg');
}

.banner-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('../img/slide4.jpg');
}

.logo {
    width: 140px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Segoe UI", "微軟正黑體", sans-serif !important;
}

.navbar-nav>li {
    padding-left: 3px;
    padding-right: 3px;
}

.navbar-nav li a {
    border-style: solid;
    border-color: #76777B;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 5px;
}

.title-tc,
.title-en {
    color: white;
}

.bio-name {
    margin-top: 0px ;
    font-size: 1.7em;
    color: #0F93AB;
    text-align: left;
}

@media (max-width:767px) {
    .bio-name {

        text-align: left;
        }
}

.bio-title {
    /* color: #118091; */
    color: #76777B;
    font-size: 1.1em;
    text-align: left;
}

.btn-lang:hover {
    background-color: #0F93AB;
    border-color: #0F93AB;
}

.footer,
.top-menu {
    font-size: 0.8rem;
}
/*
.jumbotron h3:first-child::after {
    content: " 承先啟後 &nbsp;&nbsp; 穩步將來";
    font-weight: 100;
    font-size: 60px;
}

.jumbotron h3:nth-child(2)::after {
    content: "Inheriting the Past  &nbsp;&nbsp; Charting the Future";
    font-weight: 100;
    font-size: 45px;
}*/

.carousel img {
    filter: brightness(80%);
}

.carousel {
    display: flex;
    justify-content: center;
}

.slogan {
    position: absolute;
    bottom: 30px;
    color: white;
}

.slogan h3 {
    white-space: pre;
}

.slogan .row:first-child h3 {
    
    
    font-size: 8em;
    font-weight: 900;
}

.slogan .row:nth-child(2) h3 {

    font-size: 4em;
    font-weight: 500;
}

.nav-menu {
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    justify-content: space-between;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: -1px;
    margin-left: -15px;
}

.dropdown-item {
    border-style: none;
    border-width: 0px !important;
}

#m4-4 {
    white-space: normal;
}

.main-menu li a:hover {
    text-decoration: underline;
    color: #0F93AB;
}

.main-menu li a:active {
    background-color: #E8E4E4 !important;
    color: white !important;
}

/* .main-menu li:nth-child(1) a:hover {
    color: #dc3545 !important;
}

.main-menu li:nth-child(2) a:hover {
    color: #FFC107 !important;
}

.main-menu li:nth-child(3) a:hover {
    color: #28A745 !important;
}

.main-menu li:nth-child(4) a:hover {
    color: #17A2B8 !important;
}

.main-menu li:nth-child(5) a:hover {
    color: #007BFF!important;
}

.main-menu li:nth-child(6) a:hover {
    color: black !important;
} */
.gallery-row {
    margin: 15px;
}

.page-title {
    /* font-size: 2.5rem; */
    font-weight: 500;
    color: #0F93AB;
    text-transform: uppercase;
    margin: 50px 0;
    text-align: left;
    font-size: 50px;
}

/* #page-category {
    text-transform: uppercase;
} */
/* gallery */


.carousel-item {
    max-height: 100vh !important;
    width: 100vw !important;
}

.carousel img{
    width:100%;
}

/* messages page */
.bio-image {
    border-radius: 50%;
    border-color: #fff;
    border-width: 10px;
    border-style: solid;
    margin-bottom: -100px;
    z-index: 1;
}

.messages-content {
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
}

/* back to top button */
#back-button {
    display: inline-block;
    color: #76777B;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    cursor: pointer;
}

#back-button:hover {
    cursor: pointer;
    color: #0F93AB;
}

#back-button:active {
    color: #888888;
}

#back-button.show {
    opacity: 1;
    visibility: visible;
}

.breadcrumb-container {
    background-color: #0F93AB;
}

.breadcrumb-container ol {
    background-color: #0F93AB !important;
}

.breadcrumb-container ol li {
    color: white !important;
}

.breadcrumb-container ol li a {
    color: white !important;
    text-decoration: underline;
}

.breadcrumb>li+li:before {
    color: #fff !important;
}

header {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.dropdown-item {
    flex-direction: column;
    align-items: end;
    background-color: white;
}

/* Styles for the mobile version */
@media (min-width: 500px) {
  
}

@media only screen and (max-width:767px) {
    footer {
        font-size: 0.7rem;
    }

    .logo {
        max-width: 80px;
    }

    .page-title {
        font-size: 1.8em;
        text-align: center;
        margin: 20px 0;
    }

    /* #page-category {
        font-size: 1.3rem;
        text-align: left;
    } */
    .dropdown-item {
        word-wrap: break-word;
    }

    .navbar-nav li a {
        border-bottom-width: 1px;
        margin: 0px 20px;
    }

    .nav-menu{
     border: solid 1px #d0d0d0;
     max-width:100vw;
     
    }

    .dropdown-menu{
        background: rgba(181, 181, 181, 0.3);
     max-width:95vw;
     border-style:none;     
    
     
    }
    .dropdown-item {
        white-space:normal;
        background: rgba(181, 181, 181, 0.0);
        font-size:0.8em;        
        margin: 0 auto;

    }

    .dropdown-item:before{
        content:"\2022";
        margin-right:5px;
        margin-left:-10px;
    }

    .title-tc {
        font-size: 3rem;
    }

    .title-en {
        font-size: 2rem;
    }

    header {
        height: 100px;
    }

    .content {
        top: 100px;
    }

    .jumbotron h3 {
        text-align: center;
    }

    .jumbotron h3:first-child::after,
    .carousel h3:first-child::after {
        font-size: 8vw;
        font-weight:500;
    }

    .jumbotron h3:nth-child(2)::after,
    .carousel .h3:first-child::after {
        font-size: 5vw;
        font-weight:500;
    }

    .jumbotron {
        height: 25vh;
        padding: 0px;
        background-size: cover;
    }
    .carousel img{
        max-height:50vh;
        background-position:cover;
    }

   
    

    
}

/* Events & Projects timeline */
* {
    margin: 0;
    padding: 0;
}


/* end of events and projects timeline */
/* chairpersons */
@media (max-width:767px) {
    .cp img {
        height: auto;
        padding: 0 50px;
    }
}

.cp .col-md-2 {
    padding: 0;
}
.cp .col-md-4 {
    padding: 10px;
    background-color: #F8F9FA;
}

@media (max-width:767px) {
    .cp .col-md-4 {
        padding: 10px;
        background-color: white;
   
    }
}

.mb .member {
    padding:20px;
    margin:0 20px;
    border-bottom: rgb(226, 226, 226) solid 1px;
    
    
}

.members-title{
    margin:20px 0;
    color:#4f4f4f;
    font-weight:500
}


.mb{
    background-color:rgb(250, 250, 250);
    padding:20px;
    
    border-radius:10px
}

blockquote {
    font-style: italic;
    font-weight: 700;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

/* index collage */

.collage-contaier{
    display: flex;
    width: 100%;
}
.flex-col {
    flex:1;
    padding: 16px;
  }


.collage {
    position: relative;
    width: 100%;
    text-align: center;
    color:white;
    font-weight:500;
    

}

.collage img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px ;
}
.effectfront {
    border: none;
    margin: 0 auto;
  }
  .effectfront:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(126, 126, 126);
}

.fa-arrow-alt-circle-right{
    color:white
}

.collage:hover .overlay {
    opacity: 0.9;
}

.collage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0;
    width: 80%;
}

.collage-text a {
    font-size: 28px;
    padding: 10px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

@media (max-width:767px) {
    .bio-title {
        text-align: left;
        font-size:1em;
    }

    .bio-name{
        font-size:1.2em;
    }

    .jumbotron h2 {
        display: none;
    }

    

    .breadcrumb-container ol {
        font-size: 10px;
        padding: 5px;
    }

    #back-button {
        margin: 30px;
        max-width: 30px;
        bottom: 0px;
        right: 25px;
 
   
    }

    .mb .member {
        padding:5px;
        margin:5px 0;
      
        
    }

    

    
}

@media (max-width:1200px) {


    .tl-month h2{
        font-size:1.4rem;
    }

    .tl h1{
        font-size:2.2rem;
    }

    .slogan .row:first-child h3 {
    
        font-size: 2.2em;
        font-weight: 900;
    }
    
    .slogan .row:nth-child(2) h3 {
    
        font-size: 1em;
        font-weight: 500;
    }

    .banner {
   
        height: auto;
        max-height:500px;
        overflow:hidden;
    }

    
}

/* conference table */

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}

.divTableCell {
	
	display: table-cell;
	
}


.divTableBody {
	display: table-row-group;
}

.divTableRow{
   
    border-color:#0F93AB;
    border-bottom-width:1px;
    border-bottom-style:solid
}

.divTableCell{
    padding:10px 20px 0px 20px;
}

.row1{
    background-color:#0F93AB;
    color:white;
}

.row2{
    background-color:rgb(250, 250, 250);
}



.table1{
    padding:20px;
    background-color:#0F93AB;
    color:white;
    text-align:left;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    font-size:1.5em;
    font-weight:500;
    border-bottom: solid white 1px;
}

.table2{
    border: 1px solid #0F93AB;

}

.cell1{
    width:300px
}

.conf-btn{
    background-color:#0F93AB;
    color:white;
    

}

.conf-btn:hover{
    background-color:grey;
    color:white
}
/* end of conference table */



