html {
    scroll-behavior: smooth;
}

.tl-nav {
    position: absolute;
    border-left: solid 2px;
    border-color: rgb(201, 201, 201);
    right: 0px;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin-top: 10px;
}

.tl-nav:hover {
    border-color: #0f93ab;
}

.fixedPos {
    position: fixed !important;
    top: 0;
    transform: translateY(0);
}

.tl-nav li {
    list-style: none;
    padding-left: 10px;
    margin-left: 10px;
    text-align: left;
    transition: transform 0.3s ease;
    transform: translateX(0px);
}

.tl-nav li:hover {
    background-color: #0f93ab;
    font-size: 22px;
    transform: translateX(-10px);
    padding-left:2px;
}

.tl-nav li a {
    color: rgb(201, 201, 201);
}

.tl-nav li:hover a {
    color: white;
    text-decoration: none;
}

.tl h1 {
    font-size: 90px;
    color: #0f93ab;
}

.tl-month {
    min-height: 100%;
    margin: 1px 0;
    border-right: solid #0f93ab 5px;
}

.tl-month h2 {
    font-size: 30px;
    text-align: center;
    color: #0f93ab;
    padding: 20px 0;
}

.tl-content {
    font-size: 16px;
    padding: 20px;
    margin: 1px 0;
    background: #f0efef;
}

.tl-content p {
    text-align: justify;
}

.tl-content img{
    padding:3px;
}

@media only screen and (max-width:767px) {
    .tl h1 {
        text-align: center;
    }
}