html {
    scroll-behavior: smooth;
}




.tl-nav {
    position:absolute;
    background-color:#0F93AB;
    right: 0px;    
    font-size: 16px; 
    font-weight:500;   
    padding: 0;
margin-top:10px;


}

.fixedPos {
    position: fixed !important;
    top: 0;
    transform: translateY(0);





}


.tl-nav li {
    border: 1px solid white;   
    list-style: none;
    padding-right: 10px;
    margin-left: 0px;
    text-align: center;
    transition: transform 0.3s ease;
    transform: translateX(0px);

}

.tl-nav li:hover {
    background-color: white;
    font-size: 22px;
    transform: translateX(10px);
}


.tl-nav li a{
    color:white
}

.tl-nav li:hover a {
    color: #0f93ab;
    text-decoration: none;
}



.tl h1 {
    font-size: 90px;
    color: #76777B;
   

}

.tl-month {
    min-height: 100%;

    margin: 1px 0;

    border-right: solid #0f93ab 5px;
}


.tl-month h2 {
    font-size: 30px;
    text-align: center;
    color: #0f93ab;
    padding: 20px 0;

}

.tl-content {
    font-size: 16px;
    padding: 30px;
    margin: 1px 0;
    background: #f0efef;
}

.tl-content p {
    text-align: justify;
}