.banner {
    background: #F1F3F4;
}

.jumbotron {
    height: 500px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center bottom;
}

.content {
    position: relative;
    top: 170px;
}

.banner-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('../img/slide1.jpg');

    /* background-image: url('../img/slide1.jpg'); */
}

.banner-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('../img/slide2.jpg');
}

.banner-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('../img/slide3.jpg');
}

.banner-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('../img/slide4.jpg');
}

.logo {
    max-width: 140px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Segoe UI", "微軟正黑體", sans-serif !important;
}

.navbar-nav>li {
    padding-left: 3px;
    padding-right: 3px;
}

.navbar-nav li a {
    border-style: solid;
    border-color: #76777B;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 5px;
}

.title-tc,
.title-en {
    color: white;
}

.bio-name {
    margin-top: 20px ;
    font-size: 20px;
    color: #0F93AB;
    text-align: left;
}

@media (max-width:767px) {
    .bio-name {
        margin-top: 0px;
        font-size: 20px;
        text-align: center;
    }
}

.bio-title {
    /* color: #118091; */
    color: #76777B;
    font-size: 16px;
    text-align: left;
}

.btn-lang:hover {
    background-color: #0F93AB;
    border-color: #0F93AB;
}

.footer,
.top-menu {
    font-size: 0.8rem;
}

.jumbotron h3:first-child::after {
    content: " 承先啟後 穩步將來";
    font-weight: 100;
}

.jumbotron h3:nth-child(2)::after {
    content: "Inheriting the Past, Charting the Future";
    font-weight: 100;
}

.carousel img {
    filter: brightness(80%);
}

.carousel {
    display: flex;
    justify-content: center;
}

.slogan {
    position: absolute;
    bottom: 30px;
    color: white;
}

.slogan h3 {
    white-space: pre;
}

.slogan h3:first-child::after {
    content: " 承先啟後 穩步將來";
    font-size: 8vw;
    font-weight: 900;
}

.slogan h3:nth-child(2)::after {
    content: "Inheriting the Past  Charting the Future";
    font-size: 4vw;
    font-weight: 500;
}

.nav-menu {
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    justify-content: space-between;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: -1px;
    margin-left: -15px;
}

.dropdown-item {
    border-style: none;
    border-width: 0px !important;
}

#m4-4 {
    white-space: normal;
}

.main-menu li a:hover {
    text-decoration: underline;
    color: #0F93AB;
}

.main-menu li a:active {
    background-color: #E8E4E4 !important;
    color: white !important;
}

/* .main-menu li:nth-child(1) a:hover {
    color: #dc3545 !important;
}

.main-menu li:nth-child(2) a:hover {
    color: #FFC107 !important;
}

.main-menu li:nth-child(3) a:hover {
    color: #28A745 !important;
}

.main-menu li:nth-child(4) a:hover {
    color: #17A2B8 !important;
}

.main-menu li:nth-child(5) a:hover {
    color: #007BFF!important;
}

.main-menu li:nth-child(6) a:hover {
    color: black !important;
} */
.gallery-row {
    margin: 15px;
}

.page-title {
    /* font-size: 2.5rem; */
    font-weight: 500;
    color: #0F93AB;
    text-transform: uppercase;
    margin: 50px 0;
    text-align: left;
    font-size: 50px;
}

/* #page-category {
    text-transform: uppercase;
} */
/* gallery */
.modal.dialog {
    max-width: 20000px;
    max-height: 100vh !important;
}

.carousel-item {
    max-height: 100vh !important;
    width: 100vw !important;
}

/* messages page */
.bio-image {
    border-radius: 50%;
    border-color: #fff;
    border-width: 10px;
    border-style: solid;
    margin-bottom: -100px;
    z-index: 1;
}

.messages-content {
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
}

/* back to top button */
#back-button {
    display: inline-block;
    color: #76777B;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    cursor: pointer;
}

#back-button:hover {
    cursor: pointer;
    color: #0F93AB;
}

#back-button:active {
    color: #888888;
}

#back-button.show {
    opacity: 1;
    visibility: visible;
}

.breadcrumb-container {
    background-color: #0F93AB;
}

.breadcrumb-container ol {
    background-color: #0F93AB !important;
}

.breadcrumb-container ol li {
    color: white !important;
}

.breadcrumb-container ol li a {
    color: white !important;
    text-decoration: underline;
}

.breadcrumb>li+li:before {
    color: #fff !important;
}

header {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.dropdown-item {
    flex-direction: column;
    align-items: end;
    background-color: white;
}

/* Styles for the mobile version */
@media (min-width: 500px) {
    #back-button {
        margin: 30px;
        max-width: 30px;
    }
}

@media only screen and (max-width:767px) {
    footer {
        font-size: 0.7rem;
    }

    .logo {
        max-width: 80px;
    }

    .page-title {
        font-size: 1.3rem;
        text-align: center;
    }

    /* #page-category {
        font-size: 1.3rem;
        text-align: left;
    } */
    .dropdown-item {
        word-wrap: break-word;
    }

    .navbar-nav li a {
        border-bottom-width: 1px;
        margin: 0px 20px;
    }

    .title-tc {
        font-size: 3rem;
    }

    .title-en {
        font-size: 2rem;
    }

    header {
        height: 100px;
    }

    .content {
        top: 100px;
    }

    .jumbotron h3 {
        text-align: center;
    }

    .jumbotron h3:first-child::after,
    .carousel h3:first-child::after {
        font-size: 8vw;
    }

    .jumbotron h3:nth-child(2)::after,
    .carousel .h3:first-child::after {
        font-size: 5vw;
    }

    .jumbotron {
        height: 20vh;
        padding: 0px;
        background-size: cover;
    }

    .slogan h3:first-child::after {
        font-size: 10vw;
    }

    .slogan h3:nth-child(2)::after {
        font-size: 5vw;
        font-weight: 500;
    }
}

/* Events & Projects timeline */
* {
    margin: 0;
    padding: 0;
}

#timeline {
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 20px;
    width: 1100px;
    min-height: 1800px;
    overflow: hidden;
    height: 800px;
    margin: 0 auto;
    position: relative;
}

#timeline a {
    color: #0F93AB;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#timeline a:hover,
#timeline a.selected {
    color: #00556C;
}

#timeline h1,
#timeline h2,
#timeline h4,
#timeline h5,
#timeline h6 {
    text-align: center;
    color: #ccc;
    margin-bottom: 5px;
}

@media only screen and (max-width:575px) {
    h1 {
        font-size: 18px;
    }
}

h2 {
    font-size: 14px;
}

.sociales {
    text-align: center;
    margin-bottom: 20px;
}

#dates {
    width: 1100px;
    height: 60px;
    overflow: hidden;
}

#dates li {
    list-style: none;
    float: left;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

#dates a {
    line-height: 38px;
    padding-bottom: 10px;
}

#dates .selected {
    font-size: 28px;
}

#issues {
    width: 1000px;
    overflow: hidden;
}

#issues .row {
    background-color: white;
    padding: 20px 0;
    margin: 20px 0;
}

#issues li {
    width: 1000px;
    list-style: none;
    float: left;
}

#issues li.selected img {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 350px;
    height: auto;
}

#issues li img {
    float: left;
    margin: 10px 30px 10px 0px;
    background: transparent;
    zoom: 1;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

#issues h2 {
    font-size: 26px;
    text-align: left;
    color: black;
    padding-top: 10px;
}

#issues li h1 {
    color: #00556C;
    font-size: 48px;
    margin: 20px 0;
    text-align: left;
    padding-left: 70px;
}

#issues li p {
    font-size: 16px;
    margin-right: px;
    margin-left: 0px;
    font-weight: normal;
    line-height: 22px;
    text-align: justify;
}

/* #grad_left,
  #grad_right {
    width: 100px;
    height: 500px;
    position: absolute;
    top: 0;
  } */
#grad_left {
    left: 0;
    background: url('../images/grad_left.png') repeat-y;
}

#grad_right {
    right: 0;
    background: url('../images/grad_right.png') repeat-y;
}

#next,
#prev {
    position: absolute;
    top: 0;
    font-size: 70px;
    top: 170px;
    width: 22px;
    height: 38px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

#next:hover,
#prev:hover {
    background-position: 0 -76px;
}

#next {
    right: 0;
    background: red;
}

#prev {
    left: 0;
    background: blue;
}

#next.disabled,
#prev.disabled {
    opacity: 0.2;
}

/* end of events and projects timeline */
/* chairpersons */
@media (max-width:767px) {
    .cp img {
        height: auto;
        padding: 50px;
    }
}

.cp .col-md-2 {
    padding: 0;
}

@media (max-width:767px) {
    .cp .col-md-4 {
        padding: 10px;
        background-color: #F8F9FA;
    }
}

.mb .col-md-3 {
    padding: 20px;
    background-color: #F8F9FA;
    border-radius: 10px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

blockquote {
    font-style: italic;
    font-weight: 700;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

/* index collage */
.collage {
    position: relative;
    width: 100%;
}

.collage img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px ;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00556C;
}

.collage:hover .overlay {
    opacity: 0.9;
}

.collage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0;
    width: 80%;
}

.collage-text a {
    font-size: 28px;
    padding: 10px;
    font-weight: 500px;
    color: white;
    text-decoration: none;
}

@media (max-width:767px) {
    .bio-title {
        text-align: center;
    }
}



